@import "tailwindcss";

:root { 
  --background: #f5f1df;      /* світлий бежевий фон */
  --foreground: #292824;     /* темно-зелений текст */

  --primary: #507d53;         /* основний зелений */
  --secondary: #8a6b4f;       /* коричневий */
  --accent: #c9a27e;          /* теплий беж/пісок */

  --card: #3f5a47;            /* темно-зелений блок */
  --card-foreground: #f5f5f5;

  --muted: #a3b18a;           /* світло-зелений */
  --border: #9f9d9b;

  --button: #e0b084;          /* кнопка */
  --button-text: #2b2b2b;

  --font-title: var(--font-playfair);
  --font-main: var(--font-fira);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 24px 0px 24px;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    padding: 10px 10px 10px 10px;

  }
}
 
body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-main); 
}